* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("assets/background.jpg");
    display: flex;
    width: 100vw;
    height: 100vh;
}

div.card {
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    width: 350px;
    max-height: 374px;
    background-image: url("assets/background.jpg");
    background-size: 100px;
    box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
    border-radius: 15px;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-top: 140px;
}

div.perfil {
    background-color: white;
    text-align: center;
    color: #6B7082;
    padding-bottom: 28px;
}

img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 3px solid white;
    margin-top: -48px;
    margin-bottom: 24px; 
}

div.nome {
    display: flex;
    justify-content: center;
}

div.nome h1,span {
    justify-content: space-around;
}

div.nome h1 {
    font-size: 18px;
    font-weight: 700;
    color: #2E3349;
    margin-right: 8.5px;
    margin-bottom: 13px;
}

div.nome span {
    font-weight: 400;
}

h2 {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
}

div.footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 350px;
    padding-top: 24px;
    padding-bottom: 24px;
    background: white;
    border-top: 1px solid #E8E9EC;
    display: flex;
    justify-content: space-evenly;
}

div.item {
    text-align: center;
}

div.item h1  {
    color: #2E3349;
    font-size: 18px;
}

div.item span {
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #6B7082;
}